@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

*{
    font-family: 'El Messiri', sans-serif;
}
#home{
    color: #16182D;
}
#blog{
    color: blue;
}
#nav{
    background-color: #16182D;
}
#login{
    background-color: #A87741;
    padding: 10px 30px 10px 30px;
}
#login:hover{
    background-color: #A69D8D;
}
/* Index html styling */
#bold{
    color: #16182D;
   
}
#link{
    text-decoration: none;
}
#link:hover{
    text-decoration: underline;
}
#blog{
    text-align: center;
    border-bottom: 2px solid #16182D;
}

/* comment.html */
#container{
    height: 100vh;
    background-color: #E9E8DF;
}

/* blog page styling */
#blog-section{
    background-color: #e9e8df;
    height: 100vh;
    padding-top: 10%;
}

#subscribe{
    background-color: #a69d8d;
    display: block;
    margin: 0 auto;

}
#lead{
    border-bottom: 1px solid #16182D;
    color: #16182D;
}
