<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" id ="home" href="/">BlogSpot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right ms-auto">
          {% if current_user.is_authenticated %}
          <li style="color:blue;padding:15px;">{{current_user.username}}</li>
          <li><a href="/newblog" class="tag">Make Blog</a>&nbsp;</li>
          <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
          {% else %}
          <li><a href="{{url_for('auth.login')}}"><button type="button" class="btn btn-info" id="login">Login as a Writer</button></a></li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>