{% extends 'base.html'%}
{% block content %}
<div class="container-fluid" id="blogs">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <div class="panel panel-default text-center " id="singles">
                <div class="panel-heading">

                    <h4 span style="font-weight: 900;"> <a
                            href="{{url_for('main.blog',blog_id = blog.id)}}"></a>{{ blog.blog_title}}
                    </h4>
                </div>
                <div class="panel-body">
                    <p>{{ blog.blog_content }}</p>
                    {{blog.date_created.strftime("%m/%d/%Y")}} 

                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
{% endblock %}