{% extends 'base.html'%}
{% block content %}
<div class="container-fluid" id="blogs">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <div class="panel panel-default text-center " id="singles">
                <div class="panel-heading">

                    <h4 span style="font-weight: 900;"> <a
                            href="{{url_for('main.blog',blog_id = blog.id)}}"></a>{{ blog.blog_title}}
                    </h4>
                </div>
                <div class="panel-body">
                    <p>{{ blog.blog_content }}</p>
                    {{blog.date_created.strftime("%m/%d/%Y")}}
                    <a class="float-right" href="{{url_for('main.make_comment',blog_id = blog.id)}}">
                        <button class="btn btn-outline-primary btn-lg"><i class="far fa-comment-alt"></i>
                            Comment</button>
                    </a>
                    <a class="float-left" style="margin-right: 5px;" href="">
                        <button class="btn btn-outline-warning btn-lg"><i class="far fa-edit"></i> Edit</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-outline-danger btn-lg" data-toggle="modal" data-target=""><i
                                class="far fa-trash-alt"></i> Delete</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
{% endblock %}